.product__home--container {
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 250px));
    justify-content: space-between;
    gap: 4rem;
}
.container__item  {
    padding: 2rem 3rem;
}
.button__seemore {
    padding: 3rem 0 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.button__seemore button {
    padding: 5px 20px;
    font-size: 1.7rem;
}